.DS_Store
notebooks/results/*
results/
time.txt
results_test_run/
my_notes.pptx
~$my_notes.pptx
data/*
results/*
figures/*
notebooks/BooleanModel/perturbations
notebooks/catboost_info/catboost_training.json
notebooks/catboost_info/test/events.out.tfevents
notebooks/catboost_info/learn/events.out.tfevents
notebooks/catboost_info/time_left.tsv
notebooks/catboost_info/test_error.tsv
notebooks/catboost_info/learn_error.tsv
notebooks/catboost_info/fold-0/catboost_training.json
notebooks/catboost_info/fold-0/learn_error.tsv
notebooks/catboost_info/fold-0/test_error.tsv
notebooks/catboost_info/fold-0/time_left.tsv
notebooks/catboost_info/fold-0/learn/events.out.tfevents
notebooks/catboost_info/fold-0/test/events.out.tfevents
.Rproj.user
.RData
.Rhistory
devo-grn.Rproj
.vscode/settings.json
logs/*
PEDL_extractions/*
Thesis_Latex
Thesis_Latex/*

Thesis_Latex/thesis_main.aux
Thesis_Latex/thesis_main.log
Thesis_Latex/thesis_main.pdf
Thesis_Latex/thesis_main.synctex.gz
Thesis_Latex/thesis_main.toc
Thesis_Latex/chapters/3-background.aux
Thesis_Latex/chapters/3-background.tex
Thesis_Latex/chapters/4-methodology.aux
Thesis_Latex/chapters/4-methodology.tex
Thesis_Latex/chapters/5-results.aux
Thesis_Latex/chapters/5-results.tex
